/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.page {
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* header */
.header {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
  font-family: var(--font-family);
  font-style: normal;
}

.theme-menu {
  background-color: var(--background-color);
  border: 2px solid var(--contour);
  width: 100%;
  color: var(--text-color);
}

.large_text {
  outline: none;
  display: flex;
  justify-content: center;
  padding-top: 137px;
  font-size: clamp(3.0625rem, -2.3104rem + 27.1186vw, 4.0625rem);
}

.average_text {
  outline: none;
  display: flex;
  justify-content: center;
  padding: 20px 0px 24px 0px;
  font-size: 23px;
}

/*кнопки*/
.theme-menu__list {
  display: grid;
  padding-bottom: 17px;
  padding-left: 20px;
  row-gap: 9px;
  justify-content: center;
  font-size: 14px;
}

.theme-menu__button {
  cursor: pointer;
  outline: none;
	border: none;
  background: none;
}

.theme-menu__button:disabled::after { /*стрелка с боку*/
  pointer-events: none;
  content: '▶';
  animation-name: moving;
  animation-duration: 1.5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  position: relative;
  top: -14px; 
  right: 53px;
  height: 0px;
  color: var(--arrow);
  text-decoration: none;
  width: 100%;
}

/* main */
/*карточки*/
.cards {
  display: grid;
  row-gap: 50px;
  color: var(--text-color);
}

.card {
  background-color: var(--background-color);
  border: 2px solid var(--contour);
  width: 100%;
}

.heading {
 padding: 6px 0px 5px 10px;
 font-family: var(--font-family-Inter);
 border-bottom: 2px  solid var(--contour);
 font-size: 18px;
 font-weight: 700;
}

.font {
  font-family: var(--font-family-Inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
}

.first__paragraph {
  display: flex;
  padding: 25px 26px 24px;
  gap: 27px;
  flex-direction: column;
  border-top: 2px  solid var(--contour);
  margin-top: -4px;
}

/*фото*/
.image {
  position: relative;
}

.card__img {
  width: 100%; 
  object-fit: cover;
}

.beginning {
  object-position: right top;
  filter: contrast(110%);
}

.blank_page {
  filter: hue-rotate(90deg);
}

.first_way {
  filter: contrast(200%);
}

.way_to_perfection {
  filter: sepia(30%);
}

.team {
  filter: brightness(80%);
}

.way {
  filter: contrast(200%);
}

.crossroads {
  filter: sepia(60%);
}

.victory {
  filter: saturate(120%) hue-rotate(352deg) contrast(110%) blur(1px);
}

.bloc-bottons {
  display: flex;
  justify-content: flex-end;
  padding: 0px 25px 27px ;
  gap: 6px;
}

.card__like-button { /*для кнопки Like рядом с иконкой*/
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 38px;
  border: 2px  solid var(--contour);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: var(--background-color);
  z-index: 1;
}

.button__text {
  display: flex;
  padding-top: 9px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 14px;
}

.card-content { /*overflow*/
  margin-block-start: auto;
  background-color: var(--overflow);
  transition: transform 0.5s 0.2s;
  transform: translate(-100%);
  width: 130px;
  height: 38px;
  position: relative;
  top: -26px;
  right: 8px;
  z-index: -1;
}

/*label*/
.label {
  opacity: 0.5;
  position: absolute;
  top: 26px;
  right: 24px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 14px;
  color: var(--label-color);
  text-shadow:
  -1px 0 var(--label),
  0 1px var(--label),
  1px 0 var(--label),
  0 -1px var(--label);
}

@supports((text-stroke: 1px var(--label)) or (-webkit-text-stroke: 1px var(--label))) {
  .label {
    -webkit-text-stroke: 1px var(--label);
    text-stroke: 1px var(--label);
    text-shadow: none;
  }
} 

/*  Сердце  */
.card__icon_button { /*!!*/
  display: flex;
  border: none;
  background: none;
  padding: 0px;
  margin-top: 2px;
  cursor: pointer;
}

.sparks {
  opacity: 0;
  fill: var(--heart-sparks_color);
}

/*Кнопка сохранения*/
.button-save { /*позиционирование кнопки*/
  display: flex;
  padding: 50px 0px 103px;
  justify-content: center;
}

.card_save-button { /*кнопк*/
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 28px 1fr;
  align-items: center;
  padding: 18px 19px 0px;
  width: 339px;
  height: 55px;
  border: 2px  solid var(--shadow);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: var(--background-color);
  z-index: 1;
}

.button-save_text { /*шрифт в кнопке*/
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: normal;
  margin-top: 1px;
  color: var(--text-color);
}

.save_card-content { /*overflow*/
  margin-block-start: auto;
  background-color: var(--overflow);
  transition: transform 0.5s 0.2s;
  transform: translate(-100%);
  width: 338px;
  height: 55px;
  position: relative;
  top: -34px; 
  right: 21px;
  z-index: -1;
}

.floppy { /*svg дискета*/
  padding-top: 2px;
  width: 24px;
  color: var(--diskette);
}

/*Всплывающие окно*/
dialog {
  padding: 30px;
  width: 356px;
  background-color: var(--background-color);
  border: 2px  solid var(--contour);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.753);
} 

.position-elements {
  display: grid;
  grid-template-columns: 61px 1fr;
  align-items: center;
  padding-bottom: 29px;
}

.dialog_text { /*шрифт в кнопке*/
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--text-color);
  text-transform: uppercase;
}

.close-button {
  width: 100%;
  height: 38px;
  position: relative;
  overflow: hidden;
  padding-top: 7px;
  border: 2px  solid var(--contour);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: var(--background-color);
  z-index: 1;
}

.ok_card-content { /*overflow*/
  margin-block-start: auto;
  background-color: var(--overflow);
  transition: transform 0.5s 0.2s;
  transform: translate(-100%);
  width: 295px;
  height: 39px;
  position: relative;
  top: -30px; 
  right: 6px;
  z-index: -1;
}

.diskette {
  width: 45px;
  color: var(--diskette);
}

@media (319px < width < 376px) {
  .large_text {
    padding-top: 121px;
  }

  .average_text {
    font-size: 14px;
  }

  .theme-menu__list {
    row-gap: 9px;
  }

  .heading {
    padding: 5px 10px;
  }

  .label {
    top: 23px;
    right: 11px;
  }

  .first__paragraph {
    padding: 20px 26px 28px;
  }

  .card_save-button {
    display: grid;
    width: 308px;
    height: 83px;
    row-gap: 2px;
    grid-template-columns: 100%;
    padding: 15px 0px;
    justify-items: center;
  }
  
  .save_card-content {
    width: 350px;
    height: 108px;
    position: relative;
    top: -74px;
  }

  .dialog {
    width: 341px;
  }

  .close-button {
    width: 100%;
  }
  
  .floppy {
    position: relative;
    left: 2px;
    width: 32px;
    height: 32px;
    padding: none;
  }

  .dialog_text {
    padding-right: 0px;
  }
}