/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.page {
  min-block-size: 100dvb;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-family-Inter);
  font-variation-settings: 'wght' var(--width-text, 465);
}

.page-background {
  background-image: repeating-linear-gradient( var(--main-color) 0, var(--main-color) 2px, var(--transparent) 2px, var(--transparent) 4px),
  repeating-linear-gradient( 90deg, var(--main-color) 0, var(--main-color) 2px, var(--transparent) 2px, var(--transparent) 4px),
  linear-gradient(var(--top-gradient), var(--bottom-gradient));
  background-attachment: fixed;
}

/* header */
.header {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
  font-family: var(--font-family);
  font-style: normal;
}

.theme-menu {
  background-color: var(--background-color);
  border: 2px solid var(--contour);
  width: 100%;
  color: var(--text-color);
}

.large_text {
  outline: none;
  display: flex;
  justify-content: center;
  padding-top: 137px;
  font-size: clamp(3.0625rem, 1.902rem + 4.9383vw, 4.0625rem);
}

.average_text {
  outline: none;
  display: flex;
  justify-content: center;
  padding: 20px 0px 24px 0px;
  font-size: 23px;
  text-transform: uppercase;
}

/*кнопки*/
.theme-menu__list {
  display: grid;
  padding-bottom: 17px;
  padding-left: 20px;
  row-gap: 9px;
  justify-content: center;
  font-size: 14px;
}

.theme-menu__button {
  cursor: pointer;
  outline: none;
	border: none;
  background: none;
}

/*анимация кнопок*/
.theme-menu__button:hover { /* изменения цвета кнопки в менью */
  color: var(--color-text-menu);
  transition: color 0.3s;
}

.theme-menu__button::after { /* основа подчеркивания*/
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 2px;
  background-color: var(--text-color);
  transition: width 300ms, background-color 0.3s;
}

.theme-menu__button:focus-visible { /*tab focus изменения цвета кнопки в менью*/
  color: var(--color-text-menu);
  transition: color 0.3s;
  outline: none;
}

.theme-menu__button:focus-visible::after { /*tab focus */
  width: 100%;
  background-color: var(--line-menu-background-color);
  transition: width 0.3s, background-color 0.3s;
  outline: none;
}

/*анимация  стрелки*/
.theme-menu__button:disabled { /*цвет при активности со стрелкой*/
  color: var(--disabled-color-text-menu);
  pointer-events: none;
}

.theme-menu__button:disabled::after { /*стрелка с боку*/
  pointer-events: none;
  content: '▶';
  animation-name: moving;
  animation-duration: 1.5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  position: relative;
  top: -14px; 
  right: 53px;
  height: 0px;
  color: var(--arrow);
  text-decoration: none;
  width: 100%;
}

/* main */
/*карточки*/
.cards {
  display: grid;
  row-gap: 50px;
  color: var(--text-color);
}

.card {
  background-color: var(--background-color);
  border: 2px solid var(--contour);
  width: 100%;
}

.heading {
 font-variation-settings: 'wght' var(--width-heading, 785);
 padding: 6px 0px 5px 10px;
 font-family: var(--font-family-Inter);
 border-bottom: 2px  solid var(--contour);
 font-size: 18px;
}

.font {
  font-family: var(--font-family-Inter);
  font-size: 18px;
  line-height: 1.16;
}

.paragraph {
  display: flex;
  padding: 25px 26px 24px;
  gap: 27px;
  flex-direction: column;
  border-top: 2px  solid var(--contour);
  margin-top: -4px;
}

/*фото*/
.image {
  position: relative;
}

.card__img {
  width: 100%; 
  object-fit: cover;
  object-position: center;
}

.beginning {
  object-position: right top;
  filter: contrast(110%);
}

.blank_page {
  filter: hue-rotate(90deg);
}

.trip_way {
  filter: contrast(200%);
}

.way_to_perfection {
  filter: sepia(30%);
}

.team {
  filter: brightness(80%);
}

.way {
  filter: contrast(200%);
}

.crossroads {
  filter: sepia(60%);
}

.victory {
  filter: saturate(120%) hue-rotate(352deg) contrast(110%) blur(1px);
}

.bloc-bottons {
  display: flex;
  justify-content: flex-end;
  padding: 0px 25px 27px ;
  gap: 6px;
}

.card__like-button { /*для кнопки Like рядом с иконкой*/
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 38px;
  border: 2px  solid var(--contour);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: var(--background-color);
  z-index: 1;
}

/*кнопка Like*/
.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--shadow);
  transition: box-shadow 0.5s;
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  inset:
  0;
  z-index: -1;
  background: var(--overflow);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--text-color_like);
  mix-blend-mode: difference;
  display: flex;
  padding-top: 1px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 14px;
}

/*label*/
.label {
  opacity: 0.5;
  position: absolute;
  top: 26px;
  right: 24px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 14px;
  color: var(--label-color);
  text-shadow:
  -1px 0 var(--label),
  0 1px var(--label),
  1px 0 var(--label),
  0 -1px var(--label);
}

@supports((text-stroke: 1px var(--label)) or (-webkit-text-stroke: 1px var(--label))) {
  .label {
    -webkit-text-stroke: 1px var(--label);
    text-stroke: 1px var(--label);
    text-shadow: none;
  }
} 

/*  Сердце  */
.card__icon-button {
  display: flex;
  border: none;
  background: none;
  padding:0px ;
  margin: 2px;
  cursor: pointer;
}

.framework_heart:focus-visible {
  outline: 2px solid var(--framework_heart);
  transform-origin: center;
  transition: 0.3s ease;
} 

.sparks {
  opacity: 0;
  fill: var(--heart-sparks_color);
}

/*Кнопка сохранения*/
.button-save { /*позиционирование кнопки*/
  display: flex;
  padding: 50px 0px 103px;
  justify-content: center;
}

.card_save-button { /*кнопк*/
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 28px 1fr;
  align-items: center;
  padding: 1px 19px 0px;
  width: 339px;
  height: 55px;
  border: 2px  solid var(--shadow);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: var(--background-color);
  z-index: 1;
}

.card_save-button::before {
  content: "";
  position: absolute;
  inset:
  0;
  z-index: -1;
  background: var(--overflow);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.card_save-button:hover::before {
  transform: scaleX(1);
}

.card_save-button:focus-visible { /*тень */
  box-shadow: 2px 2px var(--shadow);
  transition: box-shadow 0.5s;
  outline: none;
}

.button-save_text { /*шрифт в кнопке*/
  color: var(--text-color_like);
  mix-blend-mode: difference;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: normal;
  margin-top: 1px;
}

.floppy { /*svg дискета*/
  color: var(--text-color_like);
  mix-blend-mode: difference;
  padding-top: 2px;
  width: 24px;
}

/*Всплывающие окно*/
dialog {
  padding: 30px;
  width: 356px;
  background-color: var(--background-color);
  border: 2px  solid var(--contour);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.753);
} 

.position-elements {
  display: grid;
  grid-template-columns: 61px 1fr;
  align-items: center;
  padding-bottom: 29px;
}

.dialog_text { /*шрифт в кнопке*/
  color: var(--text-color_like);
  mix-blend-mode: difference;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.close-button {
  width: 100%;
  height: 38px;
  position: relative;
  overflow: hidden;
  padding-top: 7px;
  border: 2px  solid var(--contour);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: var(--background-color);
  z-index: 1;
}

/* Кнопка всплывающего окна */
.close-button:focus-visible { /*тень */
  box-shadow: 2px 2px var(--shadow);
  transition: box-shadow 0.5s;
  outline: none;
}

/*overflow*/
.close-button::before {
  content: "";
  position: absolute;
  inset:
  0;
  z-index: -1;
  background: var(--overflow);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.close-button:hover::before {
  transform: scaleX(1);
}

.diskette {
  width: 45px;
  color: var(--diskette);
}

@media (319px < width < 376px) {
  .large_text {
    padding-top: 121px;
    font-size: clamp(2.4375rem, -0.5433rem + 15.3846vw, 3.0625rem);
  }

  .average_text {
    font-size: 14px;
  }

  .theme-menu__list {
    row-gap: 9px;
  }

  .heading {
    padding: 5px 10px;
  }

  .label {
    top: 23px;
    right: 11px;
  }

  .paragraph {
    padding: 26.3px 25px 23px;
    gap: 27.3px;
  }

  .bloc-bottons {
    padding: 2px 25px 25px 
  }

  .card_save-button {
    display: grid;
    width: 308px;
    height: 83px;
    row-gap: 2px;
    grid-template-columns: 100%;
    padding: 15px 0px;
    justify-items: center;
  }
  
  .dialog {
    width: 341px;
  }

  .close-button {
    width: 100%;
  }
  
  .floppy {
    position: relative;
    left: 2px;
    width: 32px;
    height: 32px;
    padding: none;
  }

  .dialog_text {
    padding-right: 0px;
  }
}